

.single-post {
  
  &-wrapper {
    padding: 6rem;
    overflow-y: scroll;
  
    h2 {
      font-size: 3rem;
      margin: 0;
    }
  
    img {
      max-width: 100%;
    }
  }
  
  &-author {
    font-size: 1.5rem;
    color: $color-dark;
  }


  &-body {
    font-size: 1.6rem;
  }
}

.homepage {

  &-wrapper {
    padding: 4rem 6rem;
  }
}
